@import "../_base/variables";
@import "../mixins/media";

#main{
    background-color: white;
    height: 100vh;
   // padding: 15px;

    h1{
        padding:20px;
        text-align: center;
        color: #555555;
        font-size: 35px;
    }
    .inner{
    position:relative;
    width:100%;
    max-width:960px;
    margin: 0 auto;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:flex-start;
    height: 60vh;
    background-color: white;

    .mainItem{
        position:relative;
        border-radius:15px;
        padding:15px;
        margin-bottom:15px;
        width: calc(100% - 20px);
        display:flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 25px;
        background-color: $primary;
        
        img{
            border-right: 5px solid $line;
        }
        
        .text{
            margin-left: 100px;
            
        }
    }
    }
}