@import "../_base/variables";

.contact-layout {
  position: relative;
  background: linear-gradient(to bottom, #ffffff 0%, #303952 100%);
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 100%;
  margin: 0 auto;
  min-height: 60vh;

  .inner{
    position: relative;
    width: 100%;
    max-width: 1024px;
    z-index: 5;

    h1{
      font-size: 36px;
      margin: 20px 0;
      position: relative;
    }
    p{
      color: #333;
      font-weight: 400;
      line-height: 22px;
    }
    form{
      position: relative;
      width: 100%;
      padding: 20px;
      border-radius: 10px;

      .field-group{
        position: relative;
        margin-bottom: 10px;
      }
    }
    .btn-primary {
      background-color: $line;
      color:#ffffff;
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 3px;
    }
  }

 }