@import "../_base/variables";
@import "../mixins/media";

@keyframes blink {
    0% {opacity: 0;}
    49% {opacity: 0;}
    50% {opacity: 1;}
    99% {opacity: 1;}
    100% {opacity: 0;}
}

#hero{
    width: 100%;
    height: 90vh;
    .inner{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: $maxwidth;
    height: 100%;
    margin: 0 auto;
    text-align:start;
    color: white;
    padding: 0 20px;
        
    h1{
        font-size: 40px;
        color: whitesmoke;
    }
    h2{
        margin-top: -30px;
        font-size: 30px;
        line-height: 30pt;
        span{
            position: relative;
            color:$line;
            margin-right: 5px;
            &:after {
                content: "";
                position: absolute;
                right: -4px;
                top: 0;
                bottom: 0;
                width: 2px;
                background-color:$line;
                opacity: 0;
                animation: blink 0.8s linear 0s infinite forwards;
            }
        }
    }
    a{
        background-color:$line;
        color:white;
        padding: 10px 10px;
        text-align: center;
        display: block;
        text-decoration: none;
        border-radius: 10px;
        font-weight: 500;
        width: 40%;
        

        @include media('min-desktop') {
            width: 20%;
        }
    }
    }
}