@import "../_base/variables.scss";
@import "../mixins/media";

.site-container {
    position: relative;
    width: 100%;
    margin: $headerHeight 0 0 0;
    background-image: $grad;

}

.line{
    border-top: 3px solid $line;
}


.content-container {
    position: relative;
    width: 100%;
    margin:  0;
    padding: 0;
    min-height: calc(100vh -  #{$headerHeight});

    #hero{
        width: 100%;
        height: 90vh;
        .inner{
        position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		max-width: $maxwidth;
		height: 100%;
		margin: 0 auto;
		text-align:start;
        color: white;
        padding: 0 20px;
            
        h1{
            font-size: 40px;
            color: whitesmoke;
        }
        p{
            margin-top: -30px;
            font-size: 35px;
            line-height: 30pt;
            span{
                color:$line;
            }
        }
        a{
            background-color:$line;
		    color:white;
		    padding: 10px 10px;
		    text-align: center;
		    display: block;
		    text-decoration: none;
		    border-radius: 10px;
            font-weight: 500;
            width: 40%;
            

            @include media('min-desktop') {
                width: 20%;
            }
        }
        }
    }

    #main{
        background-color: white;
        height: 100vh;
       // padding: 15px;

        h1{
            padding:20px;
            text-align: center;
            color: #555555;
            font-size: 35px;
        }
        .inner{
        position:relative;
		width:100%;
		max-width:960px;
		margin: 0 auto;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		justify-content:space-between;
        align-items:flex-start;
        height: 60vh;
        background-color: white;

        .mainItem{
            position:relative;
			border-radius:15px;
			padding:15px;
            margin-bottom:15px;
            width: calc(100% - 20px);
            display:flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            margin: 25px;
            background-color: $primary;
            
            img{
                border-right: 5px solid $line;
            }
            
            .text{
                margin-left: 100px;
                
            }
        }
        }
    }


}