@import "../_base/variables";
@import "../mixins/media";

#main {
  background-color: white;
  height: 100vh;
  padding: 15px;

  h1 {
    padding: 55px;
    text-align: center;
    color: #555555;
    font-size: 35px;
    margin: 0;
  }
  .inner {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    height: 60vh;

    .mainItem {
      position: relative;
      border-radius: 15px;
      padding: 15px;
      margin-bottom: 15px;
      width: calc(100% - 50px);
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      margin: 25px;
      background-color: $gradient2;
      box-shadow:1px solid red ;
      @include media("min-tablet") {
        width: calc(100% - 10px);
      }
      @include media("max-mobile") {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
      }

      img {
        border-right: 5px solid $line;
        width: 30%;
        @include media("max-tablet") {
          width: 30%;
        }
        @include media("max-mobile") {
          width: 60%;
        }
      }

      .text {
        margin-left: 60px;

        p {
          line-height: 29px;
          color: white;
          font-size: 20px;
          line-height: 25px;
        }
        @include media("max-mobile") {
          width: 90%;
          align-items: center;
          margin-left: 0px;
          margin-top: 25px;
        }
      }
    }
  }
}
