/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem $default-font-size;
  font-weight: bold;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;

  &::after {
    content: '';
    display: block;
    position: absolute;
    width: 0px;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  }
}

/* Hero Style */  
  .cta-btn--hero {
    color: $white-color;
    border: 2px solid $white-color;
    margin-left: 15px;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  
    &::after {
      background: $secondary-color ;
      color: $dark-blue-text;
    }
  
    &:hover {
      border: 2px solid $secondary-color;
      color: $white-color;
      text-decoration: none;
  
      &::after {
        width: 100%;
      }
    }
  }
  .cta-btn--projects {
    color: $dark-blue-text;
    border: 2px solid $secondary-color;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
  
    &::after {
      background: $secondary-color ;
      color: $dark-blue-text;
    }
  
    &:hover {
      border: 2px solid $secondary-color;
      color: $white-color;
      text-decoration: none;
  
      &::after {
        width: 100%;
      }
    }
  }

/* Resume Style */
.cta-btn--resume {
  color: $white-color;
  border: 2px solid $white-color;

  &::after {
    background: $white-color;
  }

  &:hover {
    color: $secondary-color;
    text-decoration: none;

    &::after {
      width: 100%;
    }
  }
}

/* Arrow Button */
.up i {
  color: #272727;
}
