#main {
   
    .featured-images { 
        position: relative;
        max-width: 1235px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        margin:0 auto;
        overflow: hidden;
        
            @include respond(phone) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;
                align-items: center;
                top: 0px !important;
                padding:5px;

              }
              @include respond(tab-land) {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                position: relative;
                align-items: center;
                top: 0px !important;
                padding:5px;
              }
    }

}