#main {
    position: relative;
    width: 100%;
    margin-bottom: 50px;
    h1{
        margin-top: -60px;
        font-weight: bold;
        font-size: 3.5rem;
        margin-bottom: 50px;
    }

    .inner{
        position:relative;
        max-width: 960px;
        height: 100%;
        margin: 0 auto;
        color: black;
    }
    .featured-images { 
        position: relative;
        max-width: 960px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        position: relative;
        align-items: flex-start;
        margin:0 auto;
        
            @include respond(phone) {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                position: relative;
                align-items: center;
                top: 0px !important;
                padding:5px;

              }
              @include respond(tab-land) {
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content: space-between;
                position: relative;
                align-items: center;
                top: 0px !important;
                padding:5px;
              }
    }

}