@keyframes blink {
  0% {opacity: 0;}
  49% {opacity: 0;}
  50% {opacity: 1;}
  99% {opacity: 1;}
  100% {opacity: 0;}
}

#hero {
  padding:0;

  .background-image{
    // background: rgb(157,59,59);
    background: linear-gradient(180deg, rgb(157,59,59) 20%, rgb(34,5,16) 100%);    // background: url("https://images.unsplash.com/photo-1554306274-f23873d9a26c?ixlib=rb-1.2.1&ixid&auto=format&fit=crop&w=2670&q=80");
    background-position: center;
    background-size: cover; 
    height: 100vh;
    align-items: center;
    position: relative;
    display: flex;
    @include respond(tab-land) {
      background-size: cover;
    }
    @include respond(tab-port) {
    }
    @include respond(phone) {

    }
    @include respond(phone-xs) {
    }
  }

  .container{
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 35%; /* Adjust this value to move the positioned div up and down */
    text-align: center;
    width: 60%; /* Set the width of the positioned div */
      
  }

  .inner{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    text-align:start;
    color: whitesmoke;
    padding: 0 20px;
    z-index: 2;
    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
    }
    @include respond(phone-xs) {
      font-size: 2.0rem;
    }

    h1{
      font-size: 7.5rem;
    }

  h2{
      font-size: 5.6rem;
      font-weight: 700;
      margin-bottom: 3.2rem;
      text-align: left;
      filter:none;

      @include respond(tab-land) {
        font-size: 4rem;
      }
      @include respond(tab-port) {
        font-size: 3.6rem;
      }
      @include respond(phone) {
        font-size: 2.5rem;
      }
      @include respond(phone-xs) {
        font-size: 2.5rem;
      }
      span{
          position: relative;
          text-shadow: 1px 1px 0px rgba(0,0,0,0.9);
          margin-right: 5px;
          &:after {
              content: "";
              position: absolute;
              right: -4px;
              top: 0;
              bottom: 0;
              width: 2px;
              background-color:$primary-color;
              opacity: 0;
              
          }
    .Typewriter__wrapper{
      color: $secondary-color;
    }
    .Typewriter__cursor{
      color: $secondary-color;
      animation: blink 0.8s linear 0s infinite forwards;
    }
      }
  }
  }
  #text {
    color: $secondary-color;
  }

  .hero-title {
    font-size: 5.6rem;
    font-weight: 700;
    // margin-bottom: 1rem;
    text-align: left;

    @include respond(tab-land) {
      font-size: 4rem;
    }
    @include respond(tab-port) {
      font-size: 3.6rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
      line-height: 1.5;
      margin-top: -20px;
    }
    @include respond(phone-xs) {
      font-size: 2.8rem;
      margin-top: -20px;

    }
  }

  .hero-cta {
    display: flex;
    text-align: left;

    @include respond(tab-port) {
      // justify-content: center;
    }

    & a {
      font-size: 2.4rem;

      @include respond(phone) {
        font-size: 2rem;
      }
    }
  }
}
